<!DOCTYPE html>
<html>
<head>
  <title>Factory-ONE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header class="navbar">
  <nav class="uk-navbar">
    <div class="uk-navbar-content">
      <ul class="uk-navbar-nav">
          <li><%= link_to "開発資料集", root_path %></li>
          <li><%= link_to "New", notes_new_path %></li>
      </ul>
    </div>
    
  </nav>
</header>
<body>
<div class="container">
<%= yield %> 
</div>
 <div class="container">
  <footer class="footer">
    <div class="small">
      &copy; 2016 EXcorporation.All rights reserved.
    </div>
  </footer>
</div>
</body>
</html>
