<!DOCTYPE html>
<html>
<head>
  <title>Factory-ONE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
 <header class="navbar">
  <div class="container">
    <div id="logo">Factory-ONE</div>
    <ul class="header-right">
      <li><%= link_to "Top", root_path %></li>
      <li><%= link_to "R2.0", r2_path %></li>
      <li><%= link_to "R3.0", r3_path %></li>
      <li><%= link_to "New", notes_new_path %></li>
    </ul>
  </div>
</header>
<body>
<div class="container">
<%= yield %>
</div>
 <div class="container">
  <footer class="footer">
    <div class="small">
      &copy; 2016 EXcorporation.All rights reserved.
    </div>
  </footer>
</div>
</body>
</html>
